@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d30c7b;
  --secondary: #ffcad4;
  --tertiary: #d3ffc9; /* Not yet in use. Just found a well matchign colour and saved it here for posterity */
  --blue: #c9d3ff; /* same here */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #d30c7b;
    --secondary: #ad8a91;
    --tertiary: #d3ffc9;
    --blue: #c9d3ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}
